<section class="section section--account account account--reset">
    <div class="container container--tiny">

        <div class="section__title section__title--center section__title--desc">
            <h1 class="section__title-text h2">{{ t 'customer.reset_password.title' }}</h1>
            <p class="section__title-desc">{{ t 'customer.reset_password.subtext' email=email }}</p>
        </div>

        <div class="account__form">
            {{#form 'reset_customer_password'}}

                {{ default_errors form.errors }}

                <label for="ResetPassword">{{ t 'customer.reset_password.password' }}</label>
                <input type="password" value="" name="customer[password]" id="ResetPassword" class="{{#if form.errors contains 'password'}} input--error{{/if}}">

                <label for="PasswordConfirmation">{{ t 'customer.reset_password.password_confirm' }}</label>
                <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{{#if form.errors contains 'password_confirmation'}} input--error{{/if}}">

                <div class="account__form-buttons">
                    <input type="submit" class="c-btn c-btn--primary account__form-submit" value="{{ t 'customer.reset_password.submit' }}">
                </div>
            {{/form}}
        </div>

    </div>
</section>